{% load staticfiles %}
<html>
    <head>
        <title>Supply Chain Dashboard</title>
       <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" type="text/css" href="{% static 'css/purchase_requests.css' %}"> 
    </head>
<body>
    <div class="page-header">
        <h1 align="center"><a href="/">Supply Chain Dashboard</a></h1>
        <span style="display:block; height: 10px;"></span>
       <span style="display:inline-block; width: "></span>
            <nav class="navbar navbar-default">
<style>{
    display: inline-block;
    list-style-type: none;
}
    </style>
  <div class="container-fluid">
    <div class="navbar-header">
      </div>
      <ul class="nav navbar-nav">
      <li><a href="{% url 'incoming_shipments' %}">Incoming Shipments</a></li>
      <li><a href="{% url 'request_new' %}">Purchase Requests</a></li>
      <li><a href="{% url 'invoicer' %}">Documents</a></li>
      <li><a href="#">Planning</a></li>
      <li><a href="{% url 'logout' %}">Logout</a></li>
    </ul>
  </div>
</nav>
    </div>
    <div class="content container">
        <div class="row">
            <div class="col-md-8">
            {% block content %}
            {% endblock %}
            </div>
        </div>
    </div>
</body>
</html>