{% extends 'purchase_requests/base.html' %}
{% load crispy_forms_tags %}
{% load staticfiles %}

{% block content %}

<head>
<link rel="stylesheet" type="text/css" href="{% static 'css/forms.css' %}"> 
</head>

<div id="wrappor">
<div class='row'>
<div class='col-md-2'>

{% if title %}
<h3 class='{% if title_align_center %}text-align-left{% endif %}'>{{ title }}</h3>
{% endif %}
<div id="wrapper">
<span>

<form method='POST' action=''>{% csrf_token %}

{{ form|crispy }}
    

<input class='btn btn-primary' type='submit' value='Add Request' />
</form>
</span>
</div>
</div>
{% if queryset %}

<span>
<div class="container">
    
    <div class="row">
    <div class='col-md-8 col-md-offset-3'>
    <div id="tabel">
    <h4>Purchase Requests</h4>
    <table class='table'>    
        <td><b>#</b></td>
        <td><b>Part Number</b></td>
        <td><b>Qty</b></td>
        <td><b>WH</b></td>
        <td><b>Requested By</b></td>
        <td><b>Date Added</b></td>

        {% for instance in queryset %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ instance.part_number }}</td>
                <td>{{ instance.qty }}</td>
                <td>{{ instance.WH }}</td>
                <td>{{ instance.User }}</td>
                <td>{{ instance.Date }}</td>
            </tr>
        {% endfor %}
    </table>
    </div>
    </div>
    </div>
        
</div>
</span>
</div>
</div>
{% endif %}
{% endblock %}